/* Common styles for all forms */
.form-group {
  background-color: rgba(255, 255, 255, 0.3); /* More transparent background for the form container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px; /* Center the form and limit width in mobile view */
  margin: 0 auto; /* Center horizontally */
}

/* Add a media query for desktop view */
@media (min-width: 768px) {
  .form-group {
    max-width: 600px; /* Adjust the maximum width for desktop view */
    padding: 40px; /* Increase padding for more length */
  }
}

.form-label {
  font-weight: bold;
  color: #333;
  font-size: 1.2em;
  display: block; /* Ensure one label per line */
  margin-bottom: 5px; /* Add space between labels */
}

.form-control {
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent background for form inputs */
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.btn-primary:hover {
  background-color: #0056b3;
}
