<<<<<<< HEAD
.App {
=======
.default-theme .App {
>>>>>>> 7dda517 (Dashboard)
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 30px;
}
