<<<<<<< HEAD
body {
=======
body.default-theme {
>>>>>>> 7dda517 (Dashboard)
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
